<div class="app-container" fxLayout="column" fxLayoutAlign="start">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>{{title}}</h1>
    <span fxFlex="1 1 100%"></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu"> 
      <button mat-menu-item [routerLink]="['/']">Home</button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container fxFlex="1 1 100%">
    <mat-sidenav #sidenav [mode]="'over'">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']">Home</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex="1 1 100%">
      <!-- <main fxFlex="1 1 100%"> -->
        <router-outlet></router-outlet>
      <!-- </main> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>